/* Google Font Import */
@import url("https://fonts.googleapis.com/css2?family=Krub:ital,wght@0,300;0,400;0,500;1,400&display=swap");

:root {
  --mainFont: "Krub", sans-serif;
  --white: #ffffff;
  --primary: #ffc107;
  --secondary: #0097a7;
  --gray: #757575;
  --dark: #212121;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: var(--mainFont);
}
